.movie-item {
    width: 500px;
    border: 1px solid #797979;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    margin-bottom: 0.3rem;
    cursor: pointer;
}

.movie-item p {
    margin-left: 0.3rem;
}

.movie-name {
    font-size: 1.5rem;
}

.movie-year {
    font-size: 1.3rem;
}